.cell {
    -fx-border-color: black;
}

.cell.revealed {
    -fx-border-color: lightgray;
    -fx-border-insets: -1;
}

.cell:hover {
    -fx-effect: innershadow(gaussian, rgba(33, 33, 33, 0.5), 24, 1, 0, 0);
}

.button {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-color: rgb(59, 130, 246);
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-padding: 10;
}

.button:hover {
    -fx-background-color: rgb(79, 183, 250);
}

#bottom {
    -fx-hgap: 100;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-column-halignment: center;
}

.h1 {
    -fx-font-size: 48;
}

.h2 {
    -fx-font-size: 24;
}

.h3 {
    -fx-font-size: 16;
}

.text-center {
    -fx-text-alignment: center;
}

.bold {
    -fx-font-weight: bold;
}

.white {
    -fx-fill: white;
}

.mono {
    -fx-font-family: monospace;
}

#end-screen {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-column-halignment: center;
}

#retry-btn {
    -fx-font-size: 32;
}

#main-menu-bottom {
    -fx-orientation: vertical;
    -fx-alignment: center;
    -fx-column-halignment: center;
}
